{% extends 'a1/base.html' %} {% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7 col-sm-10 col-xs-12">
      <div class="card bg-dark text-light rounded-0">
        <div class="card-header bg-dark">
          <div class="card-title text-center h3 b-0">Registration</div>
        </div>
        <div class="card-body">
          <div class="contaier-fluid">
            <form
              action="{% url 'signup' %}"
              method="post"
              id="registration-form"
            >
              {% csrf_token %}
              <div class="mb-3">
                <label for="email" class="control-label text-light"
                  >Email:</label
                >
                <input
                  name="email"
                  class="form-control"
                  type="text"
                  id="email"
                  placeholder="Enter your email id"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="name" class="control-label text-light"
                  >Username:</label
                >
                <input
                  name="name"
                  id="name"
                  class="form-control"
                  type="text"
                  placeholder="Enter your name"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="password" class="control-label text-light"
                  >Password:</label
                >
                <input
                  name="password"
                  id="password"
                  class="form-control"
                  type="password"
                  placeholder="Create password"
                  required
                />
              </div>
            </form>
          </div>
        </div>
        <div class="card-footer text-center bg-dark">
          <button
            class="btn btn-sm btn-primary rounded-0 w-100"
            form="registration-form"
          >
            Create Account
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
